header {
    text-align: center;
    font-size: 30px;
    background-color: rgb(67, 74, 75);
    padding: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.maincontent {
    position: relative;
}
.searcharea {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    margin: 10px;
    padding: 20px;
}
.forecastarea {
    position: absolute;
    left: 33%;
    background-color:cornflowerblue;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    border-radius: 10px;
    width: 39%
}
.fiveday {
    position: absolute;
    left: 33%;
    top: 300px;
    width: auto;
    background-color: cornflowerblue;
    border-radius: 10px;
}
.fiver {
    float: left;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border: 2px solid silver;
    border-radius: 10px;
}
.histbtn {
    padding: 10px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    width: 100%;
    text-align: left;
    /* margin: 10px; */
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(67, 74, 75);
    padding: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}